:root {
  --main-bg-color: #fff;
  --sub-bg-color: #020003;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #e2c8b0;
  --second-brand-color: #f44c19;
  --third-brand-color: #e5a12b;

  --main-font: 'Roboto';
  --title-font: 'Roboto Bold';
  --main-title-font: 'Numans';

  font-size: 62.5%;
}
